// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

#define MIRYOKU_KLUDGE_THUMBCOMBOS

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku.dtsi"
/ {
    combos {
        compatible = "zmk,combos";
        combo_q {
            timeout-ms = <50>;
            key-positions = <MIRYOKU_KLUDGE_TOPROWCOMBOS_LEFTPINKIE>;
            bindings = <&kp Q>;
        };
        combo_quote {
            timeout-ms = <50>;
            key-positions = <MIRYOKU_KLUDGE_TOPROWCOMBOS_RIGHTPINKIE>;
            bindings = <&kp SINGLE_QUOTE>;
        };
        combo_z {
            timeout-ms = <50>;
            key-positions = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_LEFTPINKIE>;
            bindings = <&kp Z>;
        };
        combo_slash {
            timeout-ms = <50>;
            key-positions = <MIRYOKU_KLUDGE_BOTTOMROWCOMBOS_RIGHTPINKIE>;
            bindings = <&kp SLASH>;
        };
    };
};
